html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  vertical-align: baseline;
  color: #000;
  line-height: 1.5;
}

h1 {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}
